CONTAINER_EXTERNAL_PORT=             # this is mandatory to tell the container to which host port map the `API_PORT`

# These goose variables are useful to make goose commands smaller
GOOSE_DRIVER=postgres
GOOSE_DBSTRING=                      # this can be equal to `DATABASE_CONNECTION_STRING` if you run both goose and the db in the same network (either host machine or containers)
GOOSE_MIGRATION_DIR=./migrations

# Postgres container
POSTGRES_USER=                       # super postgres user username
POSTGRES_PASSWORD=                   # super postgres user password
POSTGRES_DB=                         # postgres database name

# Api container
DATABASE_CONNECTION_STRING=          # this is mandatory for the api to connect to the database container
API_PORT=                            # this is mandatory to tell the container in which port the api is listening
API_READ_TIMEOUT=
API_WRITE_TIMEOUT=
API_SHUTDOWN_TIMEOUT=
DB_MAX_CONNECTIONS=
DB_MIN_CONNECTIONS=
DB_MAX_CONN_LIFETIME=
DB_MAX_CONN_IDLE_TIME=